
# Dependencies
# Environment variables
# IDE
# Misc
# OS
# Production
*.swo
*.swp
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea/
.next/
.turbo
.vercel
.vscode/
build/
coverage/
dist/
ehthumbs.db
node_modules/
npm-debug.log*
out/
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
